In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

In [2]:
train_val = pd.read_csv('../input/trainSet.csv', index_col=False)

In [3]:
train_val['target'].head()

0    0
1    0
2    0
3    1
4    0
Name: target, dtype: int64

In [4]:
train_val.head()

,id,gps_height,longitude,latitude,region_code,district_code,construction_year,amt,amt_q3,pop1,...,source_unknown,source_class_surface,source_class_unknown,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,target
0,69572,1390,34.938093,-9.856322,11,5,1999,8.699681,1,4.700480,...,0,0,0,1,0,0,0,0,0,0
1,8776,1399,34.698766,-2.147466,20,2,2010,0.000000,0,5.638355,...,0,1,0,1,0,0,0,0,0,0
2,34310,686,37.460664,-3.821329,21,4,2009,3.258097,1,5.525453,...,0,1,0,0,1,0,0,0,0,0
3,67743,263,38.486161,-11.155298,90,63,1986,0.000000,0,4.077537,...,0,0,0,0,1,0,0,0,0,1
4,19728,0,31.130847,-1.825359,18,1,2006,0.000000,0,0.000000,...,0,1,0,1,0,0,0,0,0,0

In [5]:
train_val.describe()

,id,gps_height,longitude,latitude,region_code,district_code,construction_year,amt,amt_q3,pop1,...,source_unknown,source_class_surface,source_class_unknown,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,target
count,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,...,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,668.297239,34.077427,-5.706033e+00,15.297003,5.629747,2000.176313,1.585235,0.274125,2.819701,...,0.001111,0.224377,0.004680,0.480168,0.102744,0.000118,0.294411,0.013199,0.107407,0.529596
std,21453.128371,693.116350,6.567432,2.946019e+00,17.587406,9.633649,11.072850,2.636662,0.446076,2.662184,...,0.033315,0.417175,0.068252,0.499611,0.303627,0.010855,0.455781,0.114126,0.309633,0.628080
min,0.000000,-90.000000,0.000000,-1.164944e+01,1.000000,0.000000,1960.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,33.090347,-8.540621e+00,5.000000,2.000000,1996.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,37061.500000,369.000000,34.908743,-5.021597e+00,12.000000,3.000000,2006.000000,0.000000,0.000000,3.258097,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,55656.500000,1319.250000,37.178387,-3.326156e+00,17.000000,5.000000,2007.000000,3.044522,1.000000,5.375278,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,74247.000000,2770.000000,40.345193,-2.000000e-08,99.000000,80.000000,2013.000000,12.765691,1.000000,10.325515,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [6]:
train_val.drop('id', axis='columns', inplace=True)

In [7]:
lista = train_val.isnull().sum()

In [8]:
X = train_val.loc[:, train_val.columns != 'target']
y = train_val.loc[:, train_val.columns == 'target']

In [9]:
classifiers = [
    #KNeighborsClassifier(),
    #DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier()
]

In [10]:
def model_and_test(X, y, classifiers):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 35)
    
    for model in classifiers:
        this_model = model.__class__.__name__
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)

        print(f'{this_model} accuracy:')
        score = accuracy_score(y_test, y_pred)
        print(f'{score:.4f}')
        print('\n')

In [11]:
model_and_test(X, y, classifiers)

RandomForestClassifier accuracy:
0.7988


AdaBoostClassifier accuracy:
0.7246


GradientBoostingClassifier accuracy:
0.7561

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 35)
    
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(f'{model} accuracy:')
score = accuracy_score(y_test, y_pred)
print(f'{score:.4f}')
print('\n')

RandomForestClassifier() accuracy:
0.7976

In [13]:
important_features = pd.DataFrame(model.feature_importances_, index = X_train.columns,
columns = ['importance']).sort_values('importance', ascending=False)

In [14]:
important_features.iloc[1:30, :]

                                             importance
longitude                                      0.129164
gps_height                                     0.060779
age                                            0.038792
construction_year                              0.038610
pop1                                           0.038538
quantity_enough                                0.037171
amt_pop                                        0.027148
waterpoint_type_other                          0.024695
month                                          0.023078
district_code                                  0.022410
quantity_insufficient                          0.020806
amt                                            0.018007
region_code                                    0.017244
extraction_type_other                          0.016847
extraction_type_class_other                    0.016751
payment_type_never pay                         0.011523
waterpoint_type_communal standpipe             0.010297
funder_cat_Others                              0.009735
quantity_seasonal                              0.009089
permit_True                                    0.008475
installer_cat_DWE                              0.008050
installer_cat_Others                           0.007736
waterpoint_type_communal standpipe multiple    0.007620
quality_group_good                             0.007507
extraction_type_gravity                        0.007147
amt_q3                                         0.007083
management_vwc                                 0.007054
funder_cat_Government Of Tanzania              0.007001
pop_below                                      0.006951